//COLORS
$color-primary: crimson;
$color-primary-light: #ff204d;
$color-primary-dark: #be1235;

$color-secondary-light: #fafa92;
$color-secondary-dark: #fffb05;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #868686;

//margins
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-large: 8rem;

//GRIDS
$grid-width: 114rem; 
$grid-width-small: 90rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal-big: 8rem;
$gutter-horizontal-none: 0;