.header {
    height: 100vh;
    background-image: linear-gradient(to left bottom, rgba(#000000, 0.8), rgba(#000000, 0.5)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @include respond(tab-port){
        height: 100vh;
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 2rem;

        @include respond(phone){
            top: 6rem;
        }
    }
    
    &__logo {
       height: 6rem;
    }
    
    &__text-box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;
        
        @include respond(tab-port){
            width: 100%;
        }

        @include respond(tab-land){
            width: 100%;
        }
    }
    
}