.section__welcome {
    padding: 8rem 0;
    background-color: #f7f7f7;

}

.content {
    text-align: center;
}

.section-brand {
    background-image:/* linear-gradient(to left bottom, rgba(#c7c7c7, 0.1), rgba(#c7c7c7, 0.1)),*/ url(../images/road.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -9rem;
}




